@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: normal;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 114.1rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  font-family: "Roboto";
  border-radius: 2.5rem;
  padding: 1.5rem 3.5rem;
  color: #fff;
  background-color: #ff7340;
}
.btn:hover {
  background-color: #ec5a25;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1000;
  width: 100%;
  transform: translate(-50%, 0);
  padding: 2.2rem 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}
.header__nav a {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #2f3c4d;
}
.header__nav a:not(:last-child) {
  margin-right: 5rem;
}
.header__button {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #ff7340;
  margin-left: 16rem;
}

.main-display {
  padding: 22.2rem 2rem 10.3rem;
}
.main-display__header {
  font-size: 6.4rem;
  font-weight: 700;
  color: #2f3c4d;
}
.main-display__header span {
  text-transform: uppercase;
  color: #ff7340;
  font-weight: 900;
}
.main-display__text {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(47, 60, 77);
  line-height: 1.389;
  max-width: 51rem;
}
.main-display__button {
  font-size: 2.4rem;
  font-weight: 400;
  padding: 1.5rem 2.5rem;
}
.main-display__bg {
  background-color: rgb(255, 115, 64);
  background-image: url(../img/first.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 82.4rem;
  height: 61.5rem;
  z-index: 137;
  border-radius: 0 0 0 10rem;
}

.adventures {
  padding-top: 19.4rem;
  padding-bottom: 14rem;
}
.adventures__title {
  font-size: 9.4rem;
  font-weight: 900;
  font-family: "Roboto";
  color: rgba(183, 183, 183, 0.502);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -7.7rem;
  z-index: -10;
}
.adventures__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.adventures__item {
  background-color: #ff7340;
  border-radius: 1rem;
  width: 36rem;
  height: 24rem;
  color: #fff;
  box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.2) inset;
}
.adventures__item:not(:last-child) {
  margin-right: 0.5rem;
}
.adventures__item:hover {
  box-shadow: none;
}
.adventures__header {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 3rem;
}
.adventures__text {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  margin-top: 0.8rem;
}

.camp {
  background-image: url(../img/camping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hik {
  background-image: url(../img/hiking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.scuba {
  background-image: url(../img/scuba\ diving.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center 0;
}

.discount {
  background-color: #ff7340;
  background-image: url(../img/discount.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
  box-shadow: 0 0 0 228px rgba(0, 0, 0, 0.2) inset;
}
.discount__header {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
}
.discount__header span {
  font-size: 5.8rem;
  text-transform: uppercase;
  border-bottom: 3px solid #fff;
}
.discount__form {
  position: relative;
  max-width: 50rem;
  border: 0.1rem solid #fff;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.discount__form input {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
  background-color: transparent;
  padding: 1.5rem;
}
.discount__button {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 1rem;
  padding: 0.6rem 2.5rem 0.4rem;
  background-color: rgba(255, 115, 64, 0.6);
  color: #fff;
  border-radius: 0.2rem;
  z-index: 100;
}
.discount__button:hover {
  background-color: rgb(255, 115, 64);
}

input::-moz-placeholder {
  color: #fff;
}

input::-webkit-input-placeholder {
  color: #fff;
}

.gallery {
  padding-top: 19.8rem;
  position: relative;
}
.gallery__title {
  top: 12.1rem;
}
.gallery__wrap {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  overflow-x: hidden;
}
.gallery__item {
  display: flex;
  flex-direction: column;
}
.gallery__item:not(:last-child) {
  margin-right: 3rem;
}
.gallery__item:last-child .gallery__photo, .gallery__item:first-child .gallery__photo {
  background-color: #ebbead;
}
.gallery__photo {
  width: 36rem;
  height: 24rem;
  border-radius: 1rem;
  background-color: #ff7340;
}
.gallery__photo:first-child {
  margin-bottom: 3rem;
}

.team {
  padding-top: 19rem;
  position: relative;
}
.team__title {
  font-size: 7.2rem;
  font-weight: 900;
  color: rgb(47, 60, 77);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.team__txt {
  max-width: 55rem;
  font-size: 1.2rem;
  color: rgb(130, 130, 130);
  line-height: 2;
  margin-bottom: 4.2rem;
}
.team__button {
  padding: 1rem 5rem;
}
.team__photos {
  position: absolute;
  display: flex;
  top: 12rem;
  right: -1rem;
  z-index: -1;
}
.team__photo {
  width: 26.2rem;
  height: 39rem;
  background-color: #ff7340;
  border-radius: 1rem;
}
.team__photo:not(:last-child) {
  margin-right: 3.1rem;
}

.sponsors {
  margin: 15.3rem 1rem 10rem;
}
.sponsors__wrap {
  display: flex;
  justify-content: space-between;
}
.sponsors__item {
  width: 20rem;
  height: 10rem;
}
.sponsors__item:not(:last-child) {
  margin-right: 2rem;
}

.footer {
  background-color: #f8f8f8;
  padding-top: 2.9rem;
  padding-bottom: 2.5rem;
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.footer__text {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(47, 60, 77);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.icons__item {
  width: 3.8rem;
  height: 3.8rem;
  background-color: #2f3c4d;
  border-radius: 1rem;
}
.icons__item:not(:last-child) {
  margin-right: 1.9rem;
}

.inst {
  width: 5rem;
  height: 5rem;
  display: flex;
}
.inst img {
  width: 2.6rem;
  height: 2.6rem;
  margin: 0 auto;
  align-self: center;
}

@media (max-width: 1600px) {
  .main-display__bg {
    width: 50%;
    background-position: center;
  }
  .team__photos {
    position: initial;
    max-width: 120rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5rem auto;
  }
  .team__photo:not(:last-child) {
    margin-right: 0.75rem;
  }
}
@media (max-width: 1200px) {
  .header__button {
    margin-left: 10rem;
    font-size: 1.7rem;
  }
  .header__nav a {
    font-size: 1.7rem;
  }
  .main-display__header {
    font-size: 5.4rem;
  }
  .main-display__text {
    max-width: 50%;
  }
  .adventures {
    padding-top: 21.6rem;
    padding-bottom: 10rem;
  }
  .adventures__wrap {
    justify-content: space-around;
  }
  .adventures__item {
    margin-bottom: 2rem;
  }
  .sponsors__wrap {
    flex-wrap: wrap;
  }
  .sponsors__item {
    margin-top: 2rem;
  }
  .sponsors__item:not(:last-child) {
    margin-right: 5rem;
  }
}
@media (max-width: 856px) {
  .header__button {
    margin-left: 5rem;
  }
}
@media (max-width: 800px) {
  .team__photo {
    margin-top: 3rem;
  }
}
@media (max-width: 786px) {
  .header__menu {
    display: none;
  }
  .main-display {
    padding-top: 15rem;
  }
  .main-display__bg {
    display: none;
  }
  .main-display__header {
    text-align: center;
  }
  .main-display__text {
    text-align: center;
    max-width: 100%;
  }
  .main-display__button {
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  .adventures {
    padding-top: 15rem;
    padding-bottom: 6rem;
  }
  .adventures__title {
    font-size: 8rem;
    top: -6.7rem;
  }
  .discount {
    padding: 5rem 0;
  }
  .discount__header {
    font-size: 3.8rem;
  }
  .discount__header span {
    font-size: 4.8rem;
  }
  .gallery__title {
    top: 13.1rem;
  }
  .sponsors__wrap {
    justify-content: space-around;
  }
}
@media (max-width: 524px) {
  .header {
    padding: 1.2rem 0;
  }
  .main-display {
    padding: 15rem 0 5rem;
  }
  .main-display__header {
    font-size: 4.4rem;
  }
  .main-display__button {
    font-size: 1.8rem;
  }
  .adventures__title {
    font-size: 5.5rem;
    top: -4.7rem;
  }
  .adventures__item:not(:last-child) {
    margin-right: 0;
  }
  .discount__form input {
    font-size: 1.4rem;
  }
  .discount__button {
    font-size: 1.2rem;
    padding: 0.6rem 1rem 0.4rem;
  }
  .gallery__title {
    top: 15.3rem;
  }
  .sponsors__item:not(:last-child) {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
